adf-stockmarket-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-stockmarket-dev"
		},
		"Bronze_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Bronze_ls'"
		},
		"Weather_Bronze_LS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Weather_Bronze_LS'"
		},
		"bronze_layer_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'bronze_layer_ls'"
		},
		"landing_zone_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'landing_zone_ls'"
		},
		"orders_test_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'orders_test_ls'"
		},
		"weather_data_LS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'weather_data_LS'"
		},
		"AzureSQLkv_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ErrorDBadfPipeline.vault.azure.net/"
		},
		"Bronze_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stockmarketdev.dfs.core.windows.net/"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://query1.finance.yahoo.com"
		},
		"Weather_Bronze_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://salesdataindia1.dfs.core.windows.net/"
		},
		"bronze_layer_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://salesdataindia1.dfs.core.windows.net/"
		},
		"landing_zone_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://landing1.dfs.core.windows.net/"
		},
		"orders_test_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://landing1.dfs.core.windows.net/"
		},
		"stockmarket_ls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-stockmarket-server.database.windows.net"
		},
		"stockmarket_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-stockmarket"
		},
		"weather_data_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.openweathermap.org/"
		},
		"weather_data_LS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pruthvig1604"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "azuresqldb1604.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AzureSQL"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "default"
		},
		"ErroSQLls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "azuresqldb1604.database.windows.net"
		},
		"ErroSQLls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AzureSQL"
		},
		"ErroSQLls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "default"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLkv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureSQLkv_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Bronze_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Bronze_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weather_Bronze_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Weather_Bronze_LS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Weather_Bronze_LS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_layer_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('bronze_layer_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('bronze_layer_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/landing_zone_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('landing_zone_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('landing_zone_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/orders_test_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('orders_test_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('orders_test_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stockmarket_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('stockmarket_ls_properties_typeProperties_server')]",
					"database": "[parameters('stockmarket_ls_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/weather_data_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('weather_data_LS_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('weather_data_LS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('weather_data_LS_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_layer_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "bronze_layer_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "bronze_folder",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/bronze_layer_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Bronze_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderpath": {
						"type": "string",
						"defaultValue": "dynamic folder"
					},
					"filename": {
						"type": "string",
						"defaultValue": "dynamic file"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folderpath",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Bronze_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_control_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stockmarket_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "source_name",
						"type": "varchar"
					},
					{
						"name": "symbol_name",
						"type": "varchar"
					},
					{
						"name": "api_base_url",
						"type": "varchar"
					},
					{
						"name": "api_endpoint",
						"type": "varchar"
					},
					{
						"name": "window_minutes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "last_loaded_timestamp",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "target_container",
						"type": "varchar"
					},
					{
						"name": "target_path",
						"type": "varchar"
					},
					{
						"name": "active_flag",
						"type": "char"
					},
					{
						"name": "created_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "control_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stockmarket_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_polygon_rest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"symbol": {
						"type": "string",
						"defaultValue": "stock symbol"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/v8/finance/chart/@{dataset().symbol}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/orders_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "orders_test_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "orders_test.csv",
						"folderPath": "sales",
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/orders_test_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/source_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "landing_zone_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "orders_test.csv",
						"folderPath": "sales",
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "order_id",
						"type": "String"
					},
					{
						"name": "order_date",
						"type": "String"
					},
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "order_status",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/landing_zone_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/weather_data_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "weather_data_LS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"latitude": {
						"type": "String",
						"defaultValue": "51.5072"
					},
					"longitude": {
						"type": "String",
						"defaultValue": "0.1276"
					},
					"api_key": {
						"type": "String",
						"defaultValue": "9e3129d03863dd3ab5b2351c00de8d66"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('/data/2.5/weather?lat=',pipeline().parameters().latitude,'&lon=',pipeline().parameters().longitude,'&appid=',pipeline().parameters().api_key)",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/weather_data_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/weather_data_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Weather_Bronze_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "bronze_folder/WeatherData",
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Weather_Bronze_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureSQLkv",
							"type": "LinkedServiceReference"
						},
						"secretName": "AzureSQLkey",
						"secretVersion": "d0ca4d1042674af9b076638fbd7e768a"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLkv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ErroSQLls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ErroSQLls_properties_typeProperties_server')]",
					"database": "[parameters('ErroSQLls_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ErroSQLls_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureSQLkv",
							"type": "LinkedServiceReference"
						},
						"secretName": "AzureSQLkey"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLkv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_POLYGON_MVP_INGESTION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_ControlTable",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM control_table \nWHERE active_flag = 'Y'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_control_table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Symbol",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_ControlTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_ControlTable').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy_Polygon_Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_polygon_rest",
											"type": "DatasetReference",
											"parameters": {
												"symbol": {
													"value": "@item().symbol_name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_bronze_json",
											"type": "DatasetReference",
											"parameters": {
												"folderpath": {
													"value": "@concat('bronze/yahoo/', item().symbol_name, '/')",
													"type": "Expression"
												},
												"filename": {
													"value": "@concat(item().symbol_name,'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.json')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-21T18:03:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_control_table')]",
				"[concat(variables('factoryId'), '/datasets/ds_polygon_rest')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_json')]"
			]
		}
	]
}